.page-wrap input {
	background: #FFFFFF !important;
}
.page-wrap .el-input__inner {
	border-color: #666666 !important;
}
.page-wrap .el-select .el-input .el-select__caret {
	color: #666666 !important;
}
.page-wrap .el-pagination button {
	background: #FFFFFF !important;
}
.page-wrap .el-pager li {
	background: #FFFFFF !important;
}
video:focus {
	outline: none !important;
}
.tox .tox-spinner>div {
	background-color: #2080F7 !important;
}


::-webkit-scrollbar-track-piece {
  	-webkit-border-radius: 0
}
::-webkit-scrollbar {
  	width: 7px;
  	height: 10px
}
::-webkit-scrollbar-thumb {
  	height: 50px;
  	background-color: #b8b8b8;
  	-webkit-border-radius: 6px;
  	outline-offset: -2px;
  	filter: alpha(opacity = 50);
  	-moz-opacity: 0.5;
  	-khtml-opacity: 0.5;
  	opacity: 0.5
}
::-webkit-scrollbar-thumb:hover {
  	height: 50px;
  	background-color: #878987;
  	-webkit-border-radius: 6px
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgb(0, 0, 0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
